<h1>Shopping list</h1>
<div>
    <ul class="list-unstyled">
        <li ng-repeat="(index, item) in $ctrl.items | orderBy: ['isChecked', 'name']">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="item.isChecked" name="checkbox">
                    <span ng-class="{'strikethrough' : item.isChecked}">{{item.name}}</span>
                </label>
                <button type="button" class="close" ng-click="$ctrl.deleteItem(item)">&times;</button>
            </div>
        </li>
    </ul>
</div>
<div>
    <form ng-submit="$ctrl.createItem($ctrl.newItem)" class="form-inline">
        <div class="form-group">
            <input type="text" ng-model="$ctrl.newItem.name" placeholder="Enter name" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
